General
	Requirements
	Releases
	Tags
		
Main Window
	Menu
		Export
			html
			pdf
			plain text
			csv
			MS Word
		Import
			MS Word
			CSV
			plain text
			html
	
	Tree Pane
		Columns:
			title
			scheduled release
			% done
			eta
			gantt
			completed
			entered
			started
			req id 999-999-999
			effort
		Context Menu
			expand all
			add child
			add
			move left right up down
			cut 
			copy 
			paste
			add tag
	Detail Pane
		View
			single page
			list of immediate children
			document with all descendants
	Right Pane ?
		comments or links
		sidepanel with browser?

Miscellaneous
	templates
	questionnaires
	split requirements
	combine requirements
	split paragraphs
	
Settings
	accelerators
	
Future Ideas
	Document Types
		types
		text with indents
		code with syntax hl
		image
		table
		spreadsheet
		visio
	Releases
		planned date
		features
		descr
	Git
		json file format
		multi-user
		supports auto-merging of git conflicts
	Command Line Tool
		command to generate html for build scripts
