Project Goals|A desktop tool which facilitates requirements capture, management, and tracking; continuous reporting of the project progress, as well as provides an estimate of the project completion date.\n\nThe tool stores its data in the same git repository as the code, and automatically handles merging of changes made by the team members.
General
	Requirements
	Releases
	Tags
		
Main Window||y
	Menu
		Export
			html
			pdf
			plain text
			csv
			MS Word
			excel
		Import
			MS Word
			CSV
			plain text
			html
			excel
			
	Toolbar
		search
			
	Tabs
		dashboard
		tree table with detail pane
		milestones / releases
		tags
		
	Dashboard||tbd
		progress
		milestones
		current release progress
		estimates
	
	Tree Pane
		Columns
			title
			scheduled release
			% done
			eta
			gantt
			completed
			entered
			started
			req id 999-999-999
			effort
		Context Menu
			expand all
			add child
			add
			move left 
			move right 
			move up
			move down
			cut 
			copy 
			paste
			undo
			add tag
		Cells
			edit on focus
		Drag and Drop
			move items
			multiple selection
			discontinued selection
			ctrl+ copies
		Keyboard
			undo
			redo
			copy
			paste
			cut
			cursor up
			cursor down
			ctrl-left indent left
			ctrl-right indent right
			multiple selection indent|possible solution:\nindent up to parent, indent parent on the next key stroke
			ctrl-down to insert?
	Detail Pane
		View
			single page
			list of immediate children
			document with all descendants
		Content
			text
			history
			metadata
				id
				status
		Action Pane
			status change buttons
	Right Pane ?
		comments or links
		sidepanel with browser?

Miscellaneous
	templates
	questionnaires
	split requirements
	combine requirements
	split paragraphs
	
Settings
	accelerators
	
Future Ideas
	Document Types
		types
		text with indents
		code with syntax hl
		image
		table
		spreadsheet
		visio
	Releases
		planned date
		features
		descr
	Git
		json file format
		multi-user
		supports auto-merging of git conflicts
	Command Line Tool
		command to generate html for build scripts
		convert to github markdown

